<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link href="../public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: Timestamp microservice</h1>
         <h3>Example usage:</h3>
         <code>
           https://perfect-napkin.glitch.me/December%2015,%202015<br>
           https://perfect-napkin.glitch.me/1450137600
         </code>
        <h3>Example output:</h3>
         <code>
           { "unix": 1450137600, "natural": "December 15, 2015" }
         </code>
      </div>
   </body>

</html>
